default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: weston
  password:
  host: 192.168.59.103

development:
  <<: *default
  database: todolist_development

test:
  <<: *default
  database: todolist_test

production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: <%= ENV['PGSQL_PORT_5432_TCP_ADDR'] %> 
  username: docker
  password: docker
